<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>600548993269-9ggrdk8n85e1u7mcfnj9vlpeqgb8mk3i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600548993269-9ggrdk8n85e1u7mcfnj9vlpeqgb8mk3i</string>
	<key>API_KEY</key>
	<string>AIzaSyB4nUnx2iG19P8FxWUNDlwZFRCAQw_OD-s</string>
	<key>GCM_SENDER_ID</key>
	<string>600548993269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.curitiba.gavazzoni.Undercover</string>
	<key>PROJECT_ID</key>
	<string>undercover-19bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>undercover-19bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600548993269:ios:1d977a849db75064</string>
	<key>DATABASE_URL</key>
	<string>https://undercover-19bfd.firebaseio.com</string>
</dict>
</plist>